#skip-link a {left: auto; position: absolute; visibility: hidden;}

/** Global **/
body {font-family:Verdana,Arial,"sans-serif";}
a, a:link, a:visited, a:active { color: #0089DC; text-decoration: none;}
a:hover, a:focus {color: #0089DC; text-decoration: underline;}

/** Header **/
body.front #header {height: 288px;}
#header {background: url("../images/sprites-horizontal.png") repeat-x;}
#header #site-name span {color: #fff;}

/** Footer **/
#footer {background-color: #F6F6F2; padding: 30px 0 20px}
#footer .block-system .content {border-top: 1px solid #E2E2DF; color: #666666; margin-top: 3em; padding-top: 1.5em; text-align: center;}
